# OS X
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.rej
*.vi

# OS or Editor folders
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.bundle
pkg/

# Vim
*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# RubyMine
.idea/

# Ruby
log/
coverage/

# jmeter
*.jt

# else
*.log
